html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Fonts */
@font-face {
    font-family: 'montserrat_regular';
    src: url(../fonts/montserrat-regular-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserrat_medium';
    src: url(../fonts/montserrat-medium-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserrat_extrabold';
    src: url(../fonts/montserrat-extrabold-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Style */
:root {
    --color1 : #1A120B;
    --color2 : #AF672E;
    --color3 : #DE9F65;
    --color4 : #E5E5CB;
}

.animate__delay1 {
    animation: 800ms 0.5s;
}

/* Navbar */

.hero .navbar {
    padding: 50px 70px 70px;
}

.hero .navbar .judul {
    font-family: 'montserrat_extrabold', arial, sans-serif;
    font-size: 2rem;
    color: var(--color4);
}

.hero .navbar .judul span {
    color: var(--color3);
}

.hero .navbar nav {
    text-align: right;
    margin-top: -25px;
}

.navbar nav ul li {
    display: inline-block;
}

.hero .navbar nav ul li a {
    margin-left: 40px;
}

.hero #hamburger-menu {
    display: none;
}

.navbar nav ul li a {
    font-family: 'montserrat_medium';
    text-decoration: none;
    color: var(--color4);
    transition: 300ms;
    font-size: 1rem;
}

.navbar nav ul li a:hover {
    color: var(--color3);
    
}

.hero .navbar nav ul li a::after {
    content: "";
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 0.15rem solid var(--color1);
    transform: scaleX(0);
    transition: 0.2s linear;
    margin-right: -40px;
}

.hero .navbar nav ul li a:hover::after {
    transform: scaleX(0.25);
}


/* Hero Section */
.hero {
    min-height: 100vh;
    background-image: url(../assets/img/hero.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

/* Content */
.content .logo,
.content .side-bar {
    padding: 0 70px;
    float: left;
    box-sizing: border-box;
}

.content h1 {
    font-size: 2.1rem;
    font-family: 'montserrat_extrabold';
    color: var(--color4);
    text-align: center;
}

.content .logo {
    width: 25%;
    height: 500px;
}

.content .logo img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 130px 50px;
}

.content .side-bar {
    width: 75%;
    height: 500px;
    padding-left: 20px;
}

.content .side-bar p {
    font-family: 'montserrat_regular';
    color: var(--color4);
    font-size: 1.1rem;
    line-height: 25px;
    margin: 90px 0 0;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.2);
}

/* Page 1 */

.page1 {
    height: 550px;
    background-color: var(--color4);
    padding: 0 5%;
}

.page1 h1 {
    font-size: 2.1rem;
    padding-top: 50px;
    font-family: 'montserrat_extrabold';
    color: var(--color1);
    
}

.page1 p {
    background-color: rgba(175, 103, 46, 0.4);
    width: 90%;
    font-size: 1.1rem;
    font-family: 'montserrat_regular';
    margin: 50px auto 0;
    color: var(--color1);
    border-radius: 10px;
    padding: 10px;
}

/* Footer */
.footer {
    background-color: var(--color2);
    padding: 20px 0;
    box-sizing: border-box;
}

.footer .logo {
    width: 100%;
    text-align: center;
}

.footer .logo img {
    width: 35px;
    height: 35px;
}

.footer .logo a {
    text-decoration: none;
}

.footer .logo a:nth-child(3) img {
    width: 37px;
    height: 37px;
}

.footer .logo a:nth-child(2) {
    margin: 0 15px;
}

.footer .navbar {
    width: 100%;
    margin-top: 20px;
    padding: 0;
    text-align: center;
}

.footer .navbar nav ul li {
    margin: 0 20px;
}

.footer .copyright {
    font-size: 1rem;
    font-family: 'montserrat_regular';
    text-align: center;
    color: var(--color4);
    margin-top: 20px;
}

.footer .copyright span {
    color: var(--color1);
    font-family: 'montserrat_medium';
}

.cf {
    clear: both;
}

/* Media Queries */


/* Laptop */
@media (max-width: 1366px) {
    html {
        font-size: 90%;
    }
}

/* Tablet */
@media (max-width: 768px) {
    html {
        font-size: 78.5%;
    }

    .hero {
        overflow: hidden;
    }

    .hero .content p {
        font-size: 110%;

    }

    .hero .judul {
        margin-left: -50px;
    }

    .hero #hamburger-menu {
        display: inline-block;
        margin-right: -50px;
        margin-top: -5px;
    }

    .hero .navbar .nav{
        position: absolute;
        top: 100%;
        right: -100%;
        background-color: rgba(26, 18, 11, 0.8);
        width: 20rem;
        height: 100vh;
        transition: 0.3s;
        margin-top: 30px;
        padding-top: 20px;
    }

    .hero .navbar .nav.active {
        right: 0;
      }

    .hero .navbar .nav ul li {
        color: var(--color4);
        display: block;
        margin: 1rem;
        text-align: center;
        margin-right: 50px;
    }

    .hero .navbar .nav ul li a {
        font-size: 1.3rem;
    }

    .content h1{
        margin: 0 auto;
        
    }

    .content .logo {
        float: none;
        margin: 0 auto;
        padding: 0;
        text-align: center;
        width: 50%;
    }

    .content .logo img {
        margin: 0;
        padding: 0;
        margin-top: 50px;
    }

    .content .side-bar {
        float: none;
        margin: -300px auto 0;
        padding: 0;
        width: 90%;
    }

    .page1 {
        padding-top: 100px;
    }
}