html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Fonts */
@font-face {
    font-family: 'montserrat_regular';
    src: url(../fonts/montserrat-regular-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserrat_medium';
    src: url(../fonts/montserrat-medium-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserrat_extrabold';
    src: url(../fonts/montserrat-extrabold-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Style */
:root {
    --color1 : #1A120B;
    --color2 : #AF672E;
    --color3 : #DE9F65;
    --color4 : #E5E5CB;
}


.animate__delay1 {
    animation: 800ms 0.5s;
}

.animate__delay2 {
    animation: 1100ms 1s;
}

/* Navbar */

.hero .navbar {
    padding: 0 70px;
    padding-top: 50px;
}

.hero .navbar .judul {
    font-family: 'montserrat_extrabold', arial, sans-serif;
    font-size: 2rem;
    color: var(--color4);
    text-shadow: 3px 3px rgba(0,0,0,0.5);
}

.hero .navbar .judul span {
    color: var(--color3);
}

.hero .navbar nav {
    text-align: right;
    margin-top: -25px;
}


.navbar nav ul li {
    display: inline-block;
}

.hero .navbar nav ul li a {
    margin-left: 40px;
}

.hero #hamburger-menu {
    display: none;
}

.navbar nav ul li a {
    font-family: 'montserrat_medium';
    text-decoration: none;
    color: var(--color4);
    transition: 300ms;
    font-size: 1rem;
}

.navbar nav ul li a:hover {
    color: var(--color3);
    
}

.hero .navbar nav ul li a::after {
    content: "";
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 0.15rem solid var(--color1);
    transform: scaleX(0);
    transition: 0.2s linear;
    margin-right: -40px;
}

.hero .navbar nav ul li a:hover::after {
    transform: scaleX(0.25);
}


/* Hero Section */
.hero {
    min-height: 100vh;
    background-image: url(../assets/img/hero.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

/* Content */
.content {
    margin-top: 50px;
    width: 40%;
    float: left;
    box-sizing: border-box;
}

.content h1 {
    font-family: 'montserrat_extrabold';
    font-size: 3rem;
    margin-left: 70px;
    color: var(--color4);
    margin-top: 150px;
    line-height: 4rem;
    text-shadow: 3px 3px rgba(0,0,0,0.5);
}

.content h1 span {
    color: var(--color3);
}

.content p {
    font-family: 'montserrat_regular';
    margin-left: 45px;
    line-height: 1.5rem;
    margin-top: 20px;
    color: var(--color4);
    padding: 0 30px;
    text-shadow: 2px 2px rgba(0,0,0,0.5);
}

.content .btn {
    width: 140px;
    height: 40px;
    background-color: var(--color2);
    margin-left: 70px;
    margin-top: 35px;
    border-radius: 50px;
    border: none;
    color: var(--color4);
    font-family: 'montserrat_regular';
    cursor: pointer;
    transition: 300ms;
    margin-bottom: 50px;
    box-shadow: 3px 3px rgba(0,0,0,0.5);
}

.content .btn:hover {
    background-color:#865025;
}

.content .btn:active {
    transform: scale(0.5);
}

/* Page 1 */

.page1 {
    height: 550px;
    background-color: var(--color4);
    text-align: center;
    overflow: hidden;
}

.page1 h1 {
    font-size: 2.5rem;
    padding-top: 180px;
    font-family: 'montserrat_extrabold';
    color: var(--color1);
}

.page1 p {
    margin: 25px 0 40px;
    font-family: 'montserrat_regular';
    color: var(--color2);
    line-height: 25px;
    font-size: 1.25rem;
}

.page1 .btn {
    width: 160px;
    height: 50px;
    background-color: var(--color2);
    color: var(--color4);
    border-radius: 50px;
    border: none;
    cursor: pointer;
    transition: 300ms;
}

.page1 .btn:hover {
    background-color:#865025;
}

.page1 .btn:active {
    transform: scale(0.95);
}

/* Page 2 */

.page2 {
    height: 661px;
    background-color: rgba(175, 103, 46, 0.2);
    padding-top: 100px;
    box-sizing: border-box;
    overflow: hidden;
}

.page2 .content {
    text-align: left;
    padding: 0px 70px;
}

.page2 h1 {
    font-family: 'montserrat_extrabold';
    font-size: 2.5rem;
    color: var(--color1);
    text-align: center;
}

.page2 .img {
    width: 40%;
    height: 92%;
    padding-left: 50px;
    box-sizing: border-box;
    float: left;
    text-align: center;
}

.page2 .img img {
    margin-top: 70px;
    box-sizing: border-box;
    border: 3px solid var(--color2);
    border-radius: 5px;
}

.page2 .side-bar {
    width: 60%;
    height: 92%;
    float: left;
    padding-left: 20px;
    box-sizing: border-box;
}

.page2 .side-bar p {
    font-family: 'montserrat_regular';
    color: var(--color2);
    line-height: 25px;
    margin-top: 230px;
    font-size: 1.25rem;
}

.page2 .side-bar a {
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    color: var(--color1);
}

/* Page 3 */

.page3 {
    height: 700px;
    background-color: var(--color4);
    overflow: hidden;
}

.page3 h1 {
    font-family: 'montserrat_extrabold';
    font-size: 2.5rem;
    color: var(--color1);
    text-align: center;
    padding-top: 100px;
}

.page3 .side-bar {
    width: 60%;
    height: 80%;
    float: left;
    padding-left: 70px;
    box-sizing: border-box;
    font-size: 1.25rem;
    color: var(--color2);
    line-height: 25px;
    padding-right: 50px;
    padding-top: 220px;
}

.page3 .side-bar p {
    text-align: right;
    font-size: 1.25rem;
    font-family: 'montserrat_regular';
}

.page3 .img {
    width: 40%;
    height: 80%;
    float: right;
    padding-top: 70px;
    box-sizing: border-box;
}

.page3 .img img {
    border: 3px solid var(--color2);
    border-radius: 5px;
}


/* Footer */
.footer {
    background-color: var(--color2);
    padding: 20px 0;
    box-sizing: border-box;
}

.footer .logo {
    width: 100%;
    text-align: center;
}

.footer .logo img {
    width: 35px;
    height: 35px;
}

.footer .logo a {
    text-decoration: none;
}

.footer .logo a:nth-child(3) img {
    width: 37px;
    height: 37px;
}

.footer .logo a:nth-child(2) {
    margin: 0 15px;
}

.footer .navbar {
    width: 100%;
    margin-top: 20px;
    padding: 0;
    text-align: center;
}

.footer .navbar nav ul li {
    margin: 0 20px;
}

.footer .copyright {
    font-size: 1rem;
    font-family: 'montserrat_regular';
    text-align: center;
    color: var(--color4);
    margin-top: 20px;
}

.footer .copyright span {
    color: var(--color1);
    font-family: 'montserrat_medium';
}

.cf {
    clear: both;
}

/* Media Queries */


/* Laptop */
@media (max-width: 1366px) {
    html {
        font-size: 90%;
    }
}

/* Tablet */
@media (max-width: 768px) {
    html {
        font-size: 78.5%;
    }

    .hero {
        overflow: hidden;
    }

    .hero .content p {
        font-size: 110%;

    }

    .hero .judul {
        margin-left: -50px;
    }

    .hero .content {
        margin-left: -50px;
        width: 80%;
    }

    .hero .content p {
        margin-left: 43px;
    }

    .hero #hamburger-menu {
        display: inline-block;
        margin-right: -50px;
        margin-top: -5px;
    }

    .hero .navbar .nav{
        position: absolute;
        top: 100%;
        right: -100%;
        background-color: rgba(26, 18, 11, 0.8);
        width: 20rem;
        transition: 0.3s;
        margin-top: 30px;
        padding-top: 20px;
        height: 29vh;
        border-radius: 5px;
    }

    .hero .navbar .nav.active {
        right: 0;
      }

    .hero .navbar .nav ul li {
        color: var(--color4);
        display: block;
        margin: 1rem;
        text-align: center;
        margin-right: 50px;
    }

    .hero .navbar .nav ul li a {
        font-size: 1.3rem;
    }

    .page1 {
        padding: 0 10px;
    }

    .page1 h1 {
        margin-top: -30px;
    }

    .page1 button a {
        text-decoration: none;
    }

    .page1 p {
        text-align: center;
        width: 350px;
        margin: 40px auto;
        padding: 0;
    }

    .page2 {
        margin: 0;
        padding: 0;
    }

    .page2 .img {
        float: none;
        width: 400px;
        margin: 0px auto;
        padding: 0;
    }

    .page2 .img img {
        margin: 50px auto 0;
    }

    .page2 .side-bar {
        margin-top: -450px;
        float: none;
        text-align: center;
        width: 330px;
        margin: -470px auto 0;
        padding: 0;
    }

    .page3 .side-bar {
        float: none;
        padding: 0;
        height: 250px;
        margin-top: 50px;
        width: 330px;
        margin: 50px auto 0;
    }

    .page3 .side-bar p {
        text-align: center;
    }

    .page3 .img {
        float: none;
        width: 285px;
        margin: -120px auto 0;
    }

    .page2 img,
    .page3 img {
        width: 280px;
        height: 200px;
    }

}